{% extends 'cms/item.html' %}

{% block document-heading %}
	Inscri&ccedil;&atilde;o
{% endblock %}

{% block breadcrumb-item %}
	{{ block.super }} <li><a href="{% url inscricao_view %}">Inscri&ccedil;&atilde;o</a></li>
{% endblock %}

{% block content %}
	{% if precos %}
		<table class="precos table table-bordered table-striped">	
			<thead>
				<tr>
					<th>Categoria</th>
				{% for data in datas %}
					<th>Até {{ data|date:"d/m/Y" }}</th>
				{% endfor %}
				</tr>
			</thead>
			{% for preco in precos %}
				{% ifchanged preco.categoria %}
				<tr>
					<td>{{ preco.categoria }}</td>
				{% endifchanged %}
					<td>R$ {{ preco }}</td>
				{% if forloop.last %}
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	{% endif %}
	{% if pagina %}
		<div class="text">
			{{ pagina.texto|safe }}
		</div>
	{% endif %}
	<form method="post" action="{% url inscricao_view %}" class="form-inline">{% csrf_token %}
		{{ form.non_field_errors }}
		{% include 'cms/fields.html' %}
		<div class="action_buttons">
			<input type="submit" class="btn-large btn-primary" value="Enviar" />
			<input type="reset" class="btn-large" value="Limpar" />
		</div>
	</form>
{% endblock %}