{% extends 'cms/item.html' %}

{% load thumbnail %}

{% block  document-heading %}
	{% if request.META.PATH_INFO == '/congresso/convidados' %}
		Convidados
	{% else %}
		Palestrantes
	{% endif %}
{% endblock %}

{% block breadcrumb-item %}
	{{ block.super }} 
	<li>
		<a href="{% url palestrantes_view %}">
			{% if request.META.PATH_INFO == '/congresso/convidados' %}
				Convidados
			{% else %}
				Palestrantes
			{% endif %}
		</a>
	</li>
{% endblock %}

{% block content %}
	{% for palestrante in object_list %}
		<div id="palestrante-{{ palestrante.titulo|slugify }}" class="palestrante clearfix">
			{% if palestrante.foto %}
				{% thumbnail palestrante.foto "100x150" as foto %}
				<div class="thumbnail pull-left">
					<img class="" src="{{ foto.url }}" alt="{{ palestrante }}" title="{{ palestrante }}" />
				</div>
				{% endthumbnail %}
			{% endif %}
			<h3>{{ palestrante }}</h3>
			<p class="text">{{ palestrante.descricao }}</p>
			<div class="visualClear"></div>
		</div>
	{% empty %}
		<div class="text">
			A lista dos palestrantes ainda n&atilde;o est&aacute; dispon&iacute;vel.
		</div>
	{% endfor %}
{% endblock %}