{% extends "grappelli/dashboard/module.html" %}
{% block module_content %}
{% if not module.is_empty %}
        <div class="module">
            <div class="row">
                <center style="font-size:14px">
                    {% if module.dias.days > 1 %}
                    Restam <span style="font-size:20px">{{ module.dias.days }}</span> dias
                    {% else %}
                    Resta <span style="font-size:20px">{{ module.dias.days }}</span> dia
                    {% endif %}
                </center>
            </div>
            <div class="row">
                <small>Edite os pre&ccedil;os para alterar a data final de incri&ccedil;&atilde;es.</small>
            </div>
        </div>
{% endif %}
{% endblock %}