{% extends 'cms/item.html' %}

{% block breadcrumb-item %}
	{{  block.super }} <li><a href="{% url contato_view %}">Contato</a></li>
{% endblock %}

{% block document-heading %}
Contato
{% endblock %}

{% block content %}
	{% if pagina %}
	<div class="text">
		{{ pagina.texo|safe }}
	</div>
	{% endif %}
	<form method="post" action="{% url contato_view %}">{% csrf_token %}
	
	{% include 'cms/fields.html' %}
	
	<div class="action_buttons">
		<input type="submit" class="btn-large btn-primary" value="Enviar" />
		<input type="reset" class="btn-large" value="Limpar" />
	</div>
	</form>
{% endblock %}