{% extends 'cms/item.html' %}

{% block breadcrumbs %}
	{{  block.super }} &rarr; <a href="{% url contato_view %}">Contato</a> 
{% endblock %}

{% block document-heading %}
Contato
{% endblock %}

{% block content %}
	{% if pagina %}
	<div class="text">
		{{ pagina.texo|safe }}
	</div>
	{% endif %}
	<form method="post" action="{% url contato_view %}">{% csrf_token %}
	
	{% include 'cms/fields.html' %}
	
	<div class="action_buttons">
		<input type="submit" value="Enviar" />
		<input type="reset" value="Limpar" />
	</div>
	</form>
{% endblock %}