{% extends 'base.html' %}

{% block breadcrumb-item %}
	{{  block.super }} 
	{% if object %}
		<li><a href="{% url pagina_view object.slug %}">{{ object.titulo }}</a></li>
	{% endif %}
{% endblock %}

{% block main %}

	{% block before-heading %}{% endblock %}
	<h1 id="documentFirstHeading">
		{% block document-heading %}
			{% if object.titulo %}
				{{ object.titulo }}
			{% endif %}
		{% endblock %}
	</h1>
	{% block after-heading %}{% endblock %}
	
	<div class="content">
		{% block content %}
		{{ content }}
		{% endblock %}
	</div>

{% endblock %}
